USE [QUANLYQUANCAFE1]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 6/17/2020 12:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[idban] [int] IDENTITY(1,1) NOT NULL,
	[soban] [nvarchar](100) NOT NULL,
	[trangthai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 6/17/2020 12:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[idhoadon] [int] IDENTITY(1,1) NOT NULL,
	[idban] [int] NOT NULL,
	[idnuocuong] [int] NOT NULL,
	[soluong] [int] NOT NULL,
	[dongia] [float] NOT NULL,
	[thanhtien] [float] NOT NULL,
	[ghichu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idhoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/17/2020 12:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[idhoadon] [int] IDENTITY(1,1) NOT NULL,
	[ngay] [date] NOT NULL,
	[tongtien] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idhoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINUOCUONG]    Script Date: 6/17/2020 12:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINUOCUONG](
	[idloai] [int] IDENTITY(1,1) NOT NULL,
	[tenloai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUOCUONG]    Script Date: 6/17/2020 12:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUOCUONG](
	[idnuocuong] [int] IDENTITY(1,1) NOT NULL,
	[tennuocuong] [nvarchar](100) NOT NULL,
	[idloai] [int] NOT NULL,
	[gia] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idnuocuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/17/2020 12:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[UserName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN] ADD  DEFAULT (N'Bàn chưa có tên') FOR [soban]
GO
ALTER TABLE [dbo].[BAN] ADD  DEFAULT (N'Trống') FOR [trangthai]
GO
ALTER TABLE [dbo].[LOAINUOCUONG] ADD  DEFAULT (N'Chưa đặt tên') FOR [tenloai]
GO
ALTER TABLE [dbo].[NUOCUONG] ADD  DEFAULT (N'Chưa đặt tên') FOR [tennuocuong]
GO
ALTER TABLE [dbo].[NUOCUONG] ADD  DEFAULT ((0)) FOR [gia]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [Password]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [Type]
GO
